.blog {
    background: #F5F8FF;
    padding: 105px;
    padding-bottom: 203px;
    &-subtitle {
        margin-bottom: 40px;
    }
    &__top {
        margin-bottom: 92px;
    }
    &__title {
        @include text (24px, 500, 30px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__subtitle {
        @include text (10px, 500, 12px, #3D4F9F);
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }
    &__grid {
        display: grid;
        padding: 63px 41px 64px 35px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 67px;
        max-width: 958px;
        width: 100%;
        background-color: white;
        border: 1px solid #D8E3FE;
        margin: 0 auto;
        // @include media (md) {
        //     grid-template-columns: repeat(2, 1fr);
        // }
    }
    &__slider {
        height: 394px;
    }
    &__row-icon {
        background-image: url(./../images/blog/left.svg);
        width: 27px;
        height: 19px;
        &--right {
            background-image: url(./../images/blog/right.svg);
            width: 27px;
            height: 19px;
        }
    }
    &__row {
        left: -95px;
        &--right {
            right: -95px;
        }
    }
    &-img {
        object-fit: cover;
        border-radius: 5px;
    }
    &-img--big {
        width: 267px;
        height: 267px;
    }
    &-img--sm {
        width: 127px;
        height: 126px;
    }
    &-img--sm:first-child {
        margin-bottom: 14px;
    }
    &-pic {
        margin-right: 13px;
    }
    // &__content {
    //     max-width: 408px;
    //     display: flex;
    //     flex-direction: column;
    // }
    &__heading {
        @include text (36px, 400, 45px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 32px;
    }
    &__text {
        @include text (14px, 400, 27px, #8D96BD);
        display: block;
        max-width: 408px;
        margin-bottom: 40px;
    }
    &-btn {
        font-size: 13px;
        line-height: 16px;
        border-radius: 2px;
        font-family: 'Quicksand', sans-serif;
        height: 43px;
        &--blue {
            width: 113px;
            margin-right: 8px;
            color: #3A79FF;
            background-color: #D2E1FF;
            border: none;
        }
        &--white {
            width: 211px;
        }
    }
    &__carousel {
        bottom: -122px;
    }
    &__carousel li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 5px;
        margin-left: 5px;
    }
}