.diagram {
    padding-top: 37px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    &__item {
        padding-top: 65px;
        height: 540px;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 16px;
    }
    &__title {
        @include text (48px, 300, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 28px;
    }
    &__span {
        @include text (48px, 500, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__text {
        max-width: 502px;
    }
}