.diagram {
    padding-top: 37px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    &__indicators li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 5px;
        margin-left: 5px;
    }
    &__item {
        padding-top: 65px;
        height: 540px;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 16px;
    }
    &__title {
        @include text (48px, 300, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 28px;
    }
    &__span {
        @include text (48px, 500, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__text {
        max-width: 502px;
    }
    &__line {
        position: absolute;
        width: 100%;
        height: 465px;
        bottom: -219px;
        left: 0;
    }
    &__row-center {
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        width: 52px;
        height: 52px;
        position: relative;
    }
    &__ellipse {
        width: 15px;
        height: 15px;
        background: #FFFFFF;
        border: 2px solid #5E80FE;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
        border-radius: 50%;
        position: absolute;
        bottom: -152px;
        left: 515px;
        &:hover {}
    }
}