.diagram {
    padding-top: 37px;
    background: url(../images/diagram/group-left.svg) left no-repeat, url(../images/diagram/group-right.svg) right no-repeat, linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    position: relative;
    &__indicators li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 5px;
        margin-left: 5px;
    }
    &__item {
        padding-top: 65px;
        height: 540px;
    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 16px;
    }
    &__title {
        @include text (48px, 300, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 28px;
    }
    &__span {
        @include text (48px, 500, 60px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
    }
    &__text {
        max-width: 502px;
    }
    &__row-center {
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        width: 52px;
        height: 52px;
        margin: 0 auto;
    }
    &__main {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__icon {
        position: absolute;
        left: 49px;
        bottom: 129px;
        opacity: 0;
        transition: all .2s ease;
        // &:hover {
        //     opacity: 1;
        //     transition: all .2s ease;
        // }
    }
    &__hover {
        opacity: 1;
    }
    // &__link:hover{
    // .diagram__icon {
    //     opacity: 1;
    //     transition: all .2s ease;
    // }
    // } 
    // &__circle:hover+&__icon {
    //     opacity: 1;
    //     transition: all .2s ease;
    // }
    &__circle {
        cursor: pointer;
        position: relative;
    }
    &__baloon {
        position: absolute;
        top: 0;
        left: 0;
        width: 152px;
        height: 148px;
    }
    // &__circle:hover {
    //     background-image: url(../images/diagram/hover.svg);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     transition: all .2s ease;
    // }
}

// &__circle:hover .diagram__hover {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transition: all .2s ease;
// }