.faq {
    padding: 176px 355px 174px 355px;
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__title {
        @include text (24px, 500, 30px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 68px;
    }
    &__btn {
        // width: 463px;
        // height: 45px;
        @include text (15px, 500, 19px, #8E96B7);
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.03em;
    }
    &__card {
        border-bottom: 3px solid #D8E3FE;
        margin-bottom: 17px;
        width: 730px;
        height: 60px;
    }
    &__card-header {
        background-color: white;
    }
    &__wrapper {
        max-width: 730px;
    }
}