.features {
    padding-top: 185px;
    padding-bottom: 185px;
    @media screen and (max-width: 1024px) {
        padding-top: 80px;
    padding-bottom: 80px;
    }
    background: url(../images/features/clouds.svg) no-repeat center;
    @media screen and (max-width: 600px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__subtitle {
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }
    &__title {
        @include text (24px, 500, 30px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 92px;
    }
    &__content {
        margin-bottom: 92px;
    }
    &__col {
        margin-left: 18px;
    }
    &__icon-box {
        border-radius: 50%;
        background: #F1F5FF;
        width: 69px;
        height: 69px;
        margin: 0 auto;
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        @include text (14px, 700, 25px, #4074F8);
        margin-top: 33px;
        margin-bottom: 25px;
        @media screen and (max-width: 1028px) {
            font-size: 17px;
        }
        @media screen and (max-width: 576px) {
            font-size: 14px;
        }
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        @include text (11px, 600, 19px, #ADB3CB);
        max-width: 145px;
        @media screen and (max-width: 1028px) {
            font-size: 15px;
        }
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }
    &__btn-group {
        font-family: 'Open Sans', sans-serif;
        @include text (11px, 600, 19px, #ADB3CB);
        @media screen and (max-width: 600px) {
            display: flex;
    flex-direction: column;
        }
    }
    &__btn {
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        border-radius: 2px;
        border: none;
        width: 113px;
        height: 43px;
        text-align: center;
        &--red {
            background-color: #FFD7D7;
            color: #D43F3F;
        }
        &--blue {
            background-color: #D2E1FF;
            color: #3A79FF;
        }
    }
    &__choice {
        margin: 0 47px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 1px;
            left: 30px;
            top: 9px;
            border: 1px solid #DAE4FE;
        }
        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 1px;
            right: 30px;
            top: 9px;
            border: 1px solid #DAE4FE;
        }
    }
}