.quotes {
    padding-top: 109px;
    padding-bottom: 138px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    @media screen and (max-width: 768px) {
        padding-top: 70px;
    padding-bottom: 100px;

    }
    &__subtitle {
        font-family: 'Roboto', sans-serif;
        @include text (10px, 500, 12px, #3D4F9F);
        letter-spacing: 0.1em;
        margin-bottom: 31px;
        @media screen and (max-width: 1028px) {
            font-size: 13px;
        }
        @media screen and (max-width: 576px) {
            font-size: 10px;
        }
    }
    &__title {
        @include text (36px, 500, 45px, #3D4F9F);
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 14px;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        @include text (12px, 600, 22px, #A4ABC8);
        letter-spacing: 0.03em;
        max-width: 323px;
        @media screen and (max-width: 1028px) {
            font-size: 15px;
        }
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }
    &__indicators li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #D1D6E3;
        margin-right: 8px;
        margin-left: 8px;
    }
    &__indicators {
        // bottom: -125px;
        position: absolute;
        bottom: -46px;
        left: 20px;
    }
    &__carousel-inner {
        height: 245px;
        // margin-left: 30px;
    }
    &__wrapper {
        padding: 35px 55px 42px 67px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        position: relative; @media screen and (max-width: 1028px) {
            padding: 35px 55px 33px 67px;
        }
        @media screen and (max-width: 435px) {
            padding: 20px 30px 20px 29px;
        }
    }
    &__review {
        max-width: 283px;
        font-family: 'Roboto', sans-serif;
        @include text (14px, 400, 24px, #676F95);
        letter-spacing: 0.03em;
        @media screen and (max-width: 1028px) {
            font-size: 17px;
        }
        @media screen and (max-width: 576px) {
            font-size: 14px;
        }
    }
    &__img {
        width: 62px;
        height: 62px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50%;
        position: absolute;
        bottom: -33px;
        left: 45%;
        z-index: 1;
    }
}