@import './abstracts/fonts';
@import "./abstracts/normalize.scss";
@import './abstracts/mixins';
@import './layout/header';
@import './components/menu';
@import './components/sections/customers';
@import './components/sections/features';
@import './components/sections/customers';
@import './components/sections/blog';
@import './components/sections/plan';
@import './components/sections/started';
@import './components/sections/newsletter';
@import './layout/footer';
@import './components/sections/stats';
@import './components/sections/quotes';