.menu {
    margin-left: 43px;
    &-link {
        font-family: 'Quicksand', sans-serif;
        @include text (12px, 500, 15px, #697CA6);
        letter-spacing: 0.05em;
    }
    &__item {
        margin-right: 10px;
    }
}